.bodyContacto{
    background-color: $colorGeneral;
    section{
        margin: 15px 5px;
    }
}
.formsC{
    @include propiedadesForm(rgba(30, 5, 5, 0.219),20px 10px,double 3px,20px);
}
.bott{
    background-color: $colorGeneral !important;
    border-color: #212529;
}