.bodyContacto{
    background-color: $colorGeneral;
    section{
        margin: 15px 5px;
    }
}
.formsC{
    background-color: rgba(30, 5, 5, 0.219);
    padding: 20px 10px;
    border: double 3px ;
    border-radius: 20px;
}
.bott{
    background-color: $colorGeneral !important;
    border-color: #212529;
}