*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
}
body{
    width: auto;
}
.tamIcono{
    width: 15px;
}
@media(max-width: 400px){
    
        footer{
            height: 150px;
        }
        nav{
            flex-wrap: nowrap;
        }
    
}