.tarjeta{
    width: 40%;
    height: 250px;
    background-color: $colorGeneral;
    border-radius: 10px;
    margin: 10px;
    
    box-shadow: 2px 2px 7px 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between !important;

}
.tarjeta__titulo{
    font-size: 15px;
    border-radius: 10px;
    padding-top: 3px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.705)
    
    
}
.tarjeta__tituloH{
    @extend .tarjeta__titulo;
    background-color: rgba(255, 255, 255, 0.523);
    
}
.tarjeta__img{
    height: 90%; 
}
.tarjeta__boton{
    position: relative;
    
    
    

}