.titulo{
    height: map-get($titulos, $key:altura );    
    background-color: map-get($titulos, $key:color-fondo );
    border-radius: map-get($titulos, $key:borde-radio);
    font-size: map-get($titulos, $key:letra );
}
.tituloHM{
    padding-right: 10px;
}

